@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



/* 컨테이너 */
.bj-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'BookkMyungjo-Bd';
}

/* 제목과 설명을 감싸는 박스 */
.bj-header-container {
    max-width: 800px;
    margin-bottom: 20px;
}

/* 제목 */
.bj-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
    padding-bottom: 10px;
    width: 300px; /* 구분선 길이 */
    border-bottom: 1px solid black;
    margin-top: 60px;

}

/* 설명 */
.bj-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}

/* 필터 컨테이너 */
.bj-filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.bj-filter-item {
    display: flex;
    flex-direction: column;
    min-width: 255px;
}

.bj-filter-item label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.bj-filter-item select,
.bj-filter-item input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.bj-filter-item select:focus,
.bj-filter-item input:focus {
    border-color: #007bff;
}

.bj-reset-btn {
    padding: 8px 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

.bj-reset-btn:hover {
    background-color: #c82333;
}

/* 테이블 컨테이너 */
.bj-table-container {
    margin-top: 20px;
    overflow-x: auto;
}

/* 테이블 스타일 */
.bj-data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.bj-table-header {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.bj-table-row:nth-child(even) {
    background-color: #fafafa;
}

.bj-table-cell {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.bj-no-data {
    color: #888;
    font-style: italic;
}

/* 페이지네이션 */
.bj-pagination {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.bj-page-btn {
    padding: 8px 12px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bj-page-btn:hover:not(:disabled) {
    background-color: #fa420a;
}

.bj-page-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.bj-page-btn.bj-active {
    background-color: #ff5722;
    font-weight: bold;
    
}