<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_mapper">	

	<select id="checkUserLogin" resultType="User" parameterType="User">
		select *
		from users
		where id = #{id} AND pw = #{pw}
	</select>
	
	<insert id="signupUser" parameterType="User">
	insert into users
		values (
			#{id},
			#{pw},
			#{username},
			#{nickname},
			#{email},
			#{tel},
			#{jumin},
			'CUS',
			0
		)
	</insert>
	
	<select id="checkDupId" resultType="User" parameterType="String">
		select *
		FROM users
		WHERE id = #{id}	
	</select>
	
	</mapper>