<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user_mapper">	

	<select id="checkUserLogin" resultType="User" parameterType="User">
		select *
		from users
		where id = #{id} AND pw = #{pw}
	</select>
	
	<insert id="signupUser" parameterType="User">
	insert into users (
			id,
			pw,
			username,
			nickname,
			email,
			tel,
			jumin,
			user_type,
			membership
			)
		values (
			#{id},
			#{pw},
			#{username},
			#{nickname},
			#{email},
			#{tel},
			#{jumin},
			#{userType},
			0
		)
	</insert>
	
	<select id="checkDupId" resultType="User" parameterType="String">
		select *
		FROM users
		WHERE id = #{id}	
	</select>
	
	<select id="checkDupNickname" resultType="User" parameterType="String">
		select *
		FROM users
		WHERE nickname = #{nickname}	
	</select>
	
	<select id="checkUserByToken" resultType="User" parameterType="String">
		select *
		FROM users
		WHERE id = #{id}	
	</select>
	
	<select id="findUserById" resultType="User" parameterType="String">
		select *
		FROM users
		WHERE id = #{id}	
	</select>
	
	<update id="changePassword" parameterType="User">
		update users
		SET pw = #{pw}			
		WHERE id = #{id}
	</update>
	
	<update id="changeNickname" parameterType="User">
		update users
		SET nickname = #{nickname}			
		WHERE id = #{id}
	</update>
	
	<select id="findIdRequest" resultType="User" parameterType="User">
		select *
		FROM users
		WHERE email = #{email} and tel = #{tel}
	</select>
	
	<select id="resetPasswordRequest" resultType="User" parameterType="User">
		select *
		FROM users
		WHERE id = #{id} and email = #{email} and tel = #{tel}
	</select>
	
	<select id="findByEmail" parameterType="String" resultType="User">
		SELECT * FROM users WHERE email = #{email}
	</select>
	
	<insert id="insertUser" parameterType="User">
		INSERT INTO users (id, email, userName)
		VALUES (#{id}, #{email}, #{username})
	</insert>
	<!-- 관리자 -->
	
	<select id="findUserList" resultType="User">
		SELECT * FROM users
	</select>
	
	<delete id="removeUser" parameterType="String">
		DELETE FROM users
		WHERE id = #{id}
	</delete>
	
	</mapper>