<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>		
		<typeAlias type="com.app.dto.user.User" alias="User" />
		<typeAlias type="com.app.dto.juyuso.Juyuso" alias="Juyuso" />
		<typeAlias type="com.app.dto.juyuso.LikeJuyuso" alias="LikeJuyuso" />
		<typeAlias type="com.app.dto.juyuso.UserKeyword" alias="UserKeyword" />
		<typeAlias type="com.app.dto.juyuso.Keyword" alias="Keyword" />
		<typeAlias type="com.app.dto.chargingstation.ChargingStation" alias="ChargingStation" />
		<typeAlias type="com.app.dto.notice.NoticeDTO" alias="Notice" />
		
	</typeAliases>
</configuration>